<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/form.css">

  </head>

  <body class="box">
    <%- include('../partials/header.ejs') %>
    <!-- Greeting -->
    <div class="card">
      <h1 class="greeting-text">Welcome, <%= name %></h1>
    </div>
    <!-- Add new product form -->
    <div class="card">
      <h1 class="form-title card-title">Add new product</h1>
      <form action="/admin/products" method="post" class="form-box">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <!-- Name -->
        <div>
          <label for="name">Name:</label>
          <input
            id="name"
            name="name"
            class="form-input"
            type="text"
            required
          />
        </div>

        <!-- Rating -->
        <div>
          <label for="rating">Rating:</label>
          <select
            id="rating"
            name="rating"
            type="text"
            class="form-select"
            required
          >
            <option value="default" selected>Select rating</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="NC-17">NC-17</option>
          </select>
        </div>

        <!-- Time Duration -->
        <div>
          <fieldset class="form-fieldset-duration">
            <legend>Duration</legend>
            <label for="hours">Hours:</label>
            <input
              id="hours"
              name="hours"
              class="form-input"
              type="number"
              required
            />
            <label for="minutes">Minutes:</label>
            <input
              id="minutes"
              name="minutes"
              class="form-input"
              type="number"
              required
            />
          </fieldset>
        </div>

        <!-- Year of Release -->
        <div>
          <label for="year">Year of Release:</label>
          <select
            id="year"
            name="year"
            type="text"
            class="form-select"
            required
          >
            <option value="default" selected>Select year of release</option>
          </select>
        </div>

        <!-- Streaming Service -->
        <div>
          <label for="strService">Streaming Service:</label>
          <select
            id="strService"
            name="strService"
            type="text"
            class="form-select"
            required
          >
            <option value="default" selected>Select streaming service</option>
            <option value="Disney+">Disney+</option>
            <option value="Netflix">Netflix</option>
            <option value="HBO Max">HBO Max</option>
            <option value="Amazon Prime">Amazon Prime Video</option>
            <option value="Paramount+">Paramount+</option>
          </select>
        </div>

        <!-- Price -->
        <div>
          <label for="price">Price:</label>
          <input
            id="price"
            name="price"
            class="form-input"
            type="text"
            required
          />
        </div>

        <!-- Image -->
        <div>
          <label for="img">Image:</label>
          <input id="img" name="img" type="url" class="form-input" />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="form-btn">Add product</button>
      </form>
    </div>

    <!-- Catalog -->
    <div class="card">
      <h1 class="form-title card-title">Catalog</h1>
      <table class="table-items"></table>
    </div>

    <!-- Chat -->
    <!-- <div class="card">
      <h1 class="formTitle">Chat</h1>
      <div class="chatMessagesBox"></div>
      <form class="chatForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="chatInputBox">
          <input
            id="chat"
            name="chat"
            class="formInputStyle chatInputStyle"
            type="text"
            placeholder="Message"
            required
          />
          <button type="button" class="sendMessageButton formButtonStyle">
            Send >
          </button>
        </div>
        <input
          id="email"
          name="email"
          class="formInputStyle chatInputStyle"
          type="email"
          placeholder="Email"
          required
        />
        <input
          id="name"
          name="name"
          class="formInputStyle chatInputStyle"
          type="text"
          placeholder="Name"
          required
        />
        <input
          id="lastname"
          name="lastname"
          class="formInputStyle chatInputStyle"
          type="text"
          placeholder="Lastname"
          required
        />
        <input
          id="age"
          name="age"
          class="formInputStyle chatInputStyle"
          type="number"
          placeholder="Age"
          required
        />
        <input
          id="username"
          name="username"
          class="formInputStyle chatInputStyle"
          type="text"
          placeholder="Username"
          required
        />
        <input
          id="avatar"
          name="avatar"
          class="formInputStyle chatInputStyle"
          type="text"
          placeholder="Avatar"
          required
        />
      </form>
    </div> -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="../js/main.js"></script>
  </body>
</html>
