<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="/css/form.css">

  </head>

  <body class="box">
    <%- include('../partials/header.ejs') %>
    <!-- Catalog -->
    <h1 class="form-title font-grey-light">Catalog</h1>
    <a class="btn__add-product" href="/admin/add-product">
      <button class="btn-primary">+</button>
    </a>
    <div class="table-items">
      <% products.forEach(product => { %> 
        <div class="table-row">
          <p class="table-name font-grey-light"><%= product.name %></p>
          <div>
            <div class="table-img-box">
              <img class="table-img" src="/<%= product.img %>" alt="<%= product.name %>" />
            </div>
          </div>
          <a href="/admin/edit-product/<%= product._id %>?edit=true">
            <button class="btn-primary">Edit</button>
          </a>
          <form action="/admin/product-delete" method="post">
            <input type="hidden" value="<%= product._id %>" name="productId">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn-delete">-</button>
          </form>
        </div>
      <% }) %>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
