<header>
    <nav>
      <div class="nav__links">
        <a class="center" href="/shop">
          <p>Shop</p>
          <span class="<%- path === '/products' ? 'dot-active fadein-expand' : 'dot-hidden' %>"></span>
        </a>
        <% if (isAuthenticated) { %>        
          <a class="center" href="/cart">
          <p>Cart</p>
          <span class="<%- path === '/cart' ? 'dot-active fadein-expand' : 'dot-hidden' %>"></span>
        </a>
        <a class="center" href="/orders">
          <p>Orders</p>
          <span class="<%- path === '/orders' ? 'dot-active fadein-expand' : 'dot-hidden' %>"></span>
        </a>
        <% if (isAdmin) { %>
          <a class="center" href="/admin/products">
            <p>Admin</p>
            <span class="<%- path === '/admin/products' ? 'dot-active fadein-expand' : 'dot-hidden' %>"></span>
          </a>
        <% } %>
        <% } %>
      </div>
      <div class="nav__logo-container">
        <img class="nav__logo" src="/images/infinityLogoSquareWhite.png" alt="Infinity App Logo">
      </div>
      <% if (isAuthenticated) { %>
        <form class="right-nav__box" action="/logout" method="post">
        <p class="avatar__name font-grey-light"><%= userFirstName %></p>
        <div class="avatar__box">
          <img src="/<%= avatarImg %>" alt="Avatar Image" class="avatar">
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn-logout" type="submit">Logout</button>
      </form>
      <% } else { %>
        <div class="auth__links">
          <a class="center" href="/login">
            <p class="login-link">Login</p>
             <span class="<%- path === '/login' ? 'dot-active fadein-expand' : 'dot-hidden' %>"></span>
          </a>
          <a class="center" href="/register">
            <p class="login-link">Signup</p>
             <span class="<%- path === '/register' ? 'dot-active fadein-expand' : 'dot-hidden' %>"></span>
          </a>
        </div>
        <% } %>
    </nav>
</header>
<% if (isAuthenticated) { %>   
<% if (isAdmin) { %>
<div class="chat__icon-container">
  <a class="chat__icon-link" href="/admin/chat">
    <p class="chat__icon-text font-grey-light">💬</p>
  </a>
</div>
<% } else { %>
<div class="chat__icon-container">
  <a class="chat__icon-link" href="/chat">
    <p class="chat__icon-text font-grey-light">💬</p>
  </a>
</div>
<% } %>
<% } %>