<div class="listBox">
  <h1 class="listTitle whiteColor">Movies And Series</h1>
  <a class="backButton" href="/">
    <p>Add product</p>
  </a>
  {{#if list}}
    <div class="listGrid">
      {{#each list}}

        <div class="listItem">
          <div class="itemDesImgBox">
            <img class="itemDesImg" src={{this.img}} alt={{this.name}} />
          </div>
          <div class="itemDesBox">
            <h3 class="whiteColor">{{this.name}}</h3>
            <div class="itemDesBox2">
              <p class="itemDesText whiteColor">{{this.rating}}</p>
              <p class="itemDesText whiteColor">{{this.duration}}</p>
              <p class="itemDesText whiteColor">{{this.year}}</p>
            </div>
            <div class="itemDesBox2">
              <p class="priceText whiteColor">${{this.price}}</p>
              <p class="itemDesText whiteColor">{{this.strService}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <h4 class="whiteColor">No products found.</h4>
  {{/if}}
</div>