<%- include("./partials/head.ejs") %>

    </head> 

    <body class="box">
        <div class="card">
            <form method="POST" action="/api/generate-randoms">
                <input class="formInputStyle" type="number" placeholder="Amount of generated random numbers" name="amount" id="amount"
                required>
                <button class="formButtonStyle" type="submit">Generate random numbers</button>
            </form>
        </div>
        <div class="card">
            <h1>Generated numbers = <%= Object.values(numObj).reduce((acc, curr ) => acc + curr, 0) %></h1>
            <% for (const [key, value] of Object.entries(numObj)) { %>
            <p><%= key %>: <%= value %></p>
            <% } %>
        </div>
<%- include("./partials/end.ejs") %>