doctype html 
html   
    head 
        link(rel="stylesheet" href="style.css")
        title="View Products"

    body 
        div(class="listBox")
            h1(class="listTitle whiteColor")="Movies And Series"
            a(class="backButton" href="/")
                p="Add product"   
            if list 
                div(class="listGrid")
                    each product in list
                        div(class="listItem")
                            div(class="itemDesImgBox")
                                img(class="itemDesImg" src=product.img alt=product.name)
                            div(class="itemDesBox")
                                h3(class="whiteColor")=product.name 
                                div(class="itemDesBox2")
                                    p(class="itemDesText whiteColor")=product.rating 
                                    p(class="itemDesText whiteColor")=product.duration
                                    p(class="itemDesText whiteColor")=product.year 
                                div(class="itemDesBox2")
                                    p(class="priceText whiteColor")="$" + product.price
                                    p(class="itemDEsText whiteColor")=product.strService
            else 
                h4(class="whiteColor")="No products found."
