<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/form.css">

  </head>

  <body class="box">
    <%- include('../partials/header.ejs') %>
    <div class="login-box fadein">
      <p class="login-title font-grey-light">Welcome</p>
      <form class="login-box" action="/login" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input
          id="email"
          name="email"
          class="form-input"
          type="text"
          placeholder="Email"
          required
        />
        <input
          id="password"
          name="password"
          class="form-input"
          type="password"
          placeholder="Password"
          required
        />
        <% if (messageError) { %>
          <p><%= messageError %></p>
          <% } %>
        <button type="submit" class="form-btn">LogIn</button>
      </form>
    </div>
    <%- include("../partials/end.ejs") %>
