<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/form.css">

  </head>

  <body class="box">
    <%- include('../partials/header.ejs') %>
    <div class="login-box fadein">
      <p class="login-title font-grey-light">Update Password</p>
      <form class="login-box" action="/new-password" method="post">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input
          id="password"
          name="password"
          class="form-input <%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>"
          type="password"
          placeholder="New Password"
          value="<%= oldInputs.password %>"
          required
        />
        <input
          id="passwordConfirm"
          name="passwordConfirm"
          class="form-input <%= validationErrors.find(e => e.path === 'passwordConfirm') ? 'invalid' : '' %>"
          type="password"
          placeholder="Confirm New Password"
          value="<%= oldInputs.passwordConfirm %>"
          required
        />
        <% if (errorMessage.length > 0) { %>
        <p class="form__error-text"><%= errorMessage %></p>
        <% } %>
        <button type="submit" class="form-btn">Update Password</button>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
    <%- include("../partials/end.ejs") %>
