<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/form.css">
  </head>

  <body>
  </head>
  <body class="box">
    <%- include('../partials/header.ejs') %>
    <div class="card login-box fadein">
      <p class="login-title">Register</p>
      <form class="login-box" action="/register" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input
          id="firstName"
          name="firstName"
          class="form-input"
          type="text"
          placeholder="First Name"
          required
        />
        <input
          id="lastName"
          name="lastName"
          class="form-input"
          type="text"
          placeholder="Last Name"
          required
        />
        <input
          id="email"
          name="email"
          class="form-input"
          type="email"
          placeholder="Email"
          required
        />
        <input
          id="age"
          name="age"
          class="form-input"
          type="number"
          placeholder="Age"
          required
        />
        <div>
          <input
            id="phoneCharacteristic"
            name="phoneCharacteristic"
            class="form-input"
            type="number"
            placeholder="Phone Characteristic"
            maxlength="2"
            required
          />
          <input
            id="phone"
            name="phone"
            class="form-input"
            type="number"
            placeholder="Phone number"
            required
          />
        </div>
        <input
          id="country"
          name="country"
          class="form-input"
          type="text"
          placeholder="Country"
          required
        />
        <input
          id="password"
          name="password"
          class="form-input"
          type="text"
          placeholder="Password"
          required
        />
        <input
          id="avatar"
          name="avatar"
          class="form-input"
          type="text"
          placeholder="Avatar URL"
          required
        />
        <% if (messageError) { %>
          <p><%= messageError %></p>
          <% } %>
        <button class="form-btn" type="submit">Confirm SignUp</button>
      </form>
    </div>
    <%- include("../partials/end.ejs") %>