<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/form.css">
  </head>

  <body>
  </head>
  <body class="box">
    <%- include('../partials/header.ejs') %>
    <div class="login-box fadein">
      <p class="login-title font-grey-light">Register</p>
      <form class="login-box" enctype="multipart/form-data" action="/register?_csrf=<%= csrfToken %>" method="post">
        <input
          id="firstName"
          name="firstName"
          class="form-input <%= validationErrors.find(e => e.path === 'firstName') ? 'invalid' : '' %>"
          type="text"
          placeholder="First Name"
          value="<%= oldInput.firstName %>"
          required
        />
        <input
          id="lastName"
          name="lastName"
          class="form-input <%= validationErrors.find(e => e.path === 'lastName') ? 'invalid' : '' %>"
          type="text"
          placeholder="Last Name"
          value="<%= oldInput.lastName %>"
          required
        />
        <input
          id="email"
          name="email"
          class="form-input <%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>"
          type="email"
          placeholder="Email"
          value="<%= oldInput.email %>"
          required
        />
        <input
          id="age"
          name="age"
          class="form-input <%= validationErrors.find(e => e.path === 'age') ? 'invalid' : '' %>"
          type="number"
          placeholder="Age"
          value="<%= oldInput.age %>"
          required
        />
        <div>
          <input
            id="phoneCharacteristic"
            name="phoneCharacteristic"
            class="form-input <%= validationErrors.find(e => e.path === 'phoneCharacteristic') ? 'invalid' : '' %>"
            type="number"
            placeholder="Phone Characteristic"
            maxlength="2"
            value="<%= oldInput.phoneCharacteristic %>"
            required
          />
          <input
            id="phone"
            name="phone"
            class="form-input <%= validationErrors.find(e => e.path === 'phone') ? 'invalid' : '' %>"
            type="number"
            placeholder="Phone number"
            value="<%= oldInput.phone %>"
            required
          />
        </div>
        <input
          id="country"
          name="country"
          class="form-input <%= validationErrors.find(e => e.path === 'country') ? 'invalid' : '' %>"
          type="text"
          placeholder="Country"
          value="<%= oldInput.country %>"
          required
        />
        <input
          id="password"
          name="password"
          class="form-input <%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>"
          type="password"
          placeholder="Password"
          value="<%= oldInput.password %>"
          required
        />
        <input
          id="passwordConfirm"
          name="passwordConfirm"
          class="form-input <%= validationErrors.find(e => e.path === 'passwordConfirm') ? 'invalid' : '' %>"
          type="password"
          placeholder="Confirm Password"
          value="<%= oldInput.passwordConfirm %>"
          required
        />
        <label class="font-grey-light" for="avatar">Avatar:</label>
        <input
          id="avatar"
          name="avatar"
          class="form__file"
          type="file"
          placeholder="Avatar URL"
          required
        />
        <% if (errorMessage.length > 0) { %>
        <p class="form__error-text"><%= errorMessage %></p>
        <% } %>
        <button class="form-btn" type="submit">Confirm SignUp</button>
      </form>
    </div>
    <%- include("../partials/end.ejs") %>