<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/form.css">

  </head>

  <body class="box">
    <%- include('../partials/header.ejs') %>
    <div class="login-box fadein">
      <p class="login-title font-grey-light">Reset Password</p>
      <form class="login-box" action="/reset" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input
          id="email"
          name="email"
          class="form-input <%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>"
          type="text"
          placeholder="Email"
          value="<%= oldInput.email %>"
          required
        />
        <% if (errorMessage.length > 0) { %>
        <p class="form__error-text"><%= errorMessage %></p>
        <% } %>
        <button type="submit" class="form-btn">Send email for reset</button>
      </form>
    </div>
    <%- include("../partials/end.ejs") %>
