<%- include("../partials/head.ejs") %>
  <link rel="stylesheet" href="/css/cart.css">

</head>
<body class="box">

    <%- include("../partials/header.ejs") %>

    <main class="cart-box">
      <h1 class="cart-title">Cart</h1>
      <% if (products.length > 0) { %>
      <div class="cart-items-box">
        <% products.forEach(prod => { %>
          <div class="cart-item">
            <div class="cart-img-box">
              <img class="cart-img" src="<%= prod.productId.img %>" alt="<%= prod.productId.name %>" >
            </div>
            <div class="cart-column">
              <p class="cart-name font-grey-light"><%= prod.productId.name %></p>
              <p class="font-grey-light">$ <%= prod.productId.price %></p>
              <!-- <p class="font-grey-light">Qty: <%= prod.quantity %></p> -->
            </div>
            <div class="cart-subbox">
              <form action="/cart-delete-item" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <input type="hidden" value="<%= prod.productId._id %>" name="productId" >
                  <div class="btn-delete-box">
                    <button class="btn-delete font-grey-light" type="submit">-</button>
                  </div>
              </form>
            </div>
          </div>
        <% }) %>
        <div class="btn-primary-box">
          <form method="post" action="/create-order">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn-primary font-grey-light" type="submit">Order</button>
          </form>
        </div>
      </div>
      <% } else { %>
        <p class="font-grey-light">Cart empty</p>
      <% } %>    
    </main>

<%- include("../partials/end.ejs") %>