<%- include("../partials/head.ejs") %>
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/orders.css">

</head>
<body class="box">
    <%- include("../partials/header.ejs") %>
    <main class="cart-box">
      <h1 class="cart-title">Orders</h1>
      <% if (orders.length <= 0) { %>
      <p class="font-grey-light">No orders made</p>
      <% } else { %>
      <div class="orders-box">
      <% orders.forEach(order => { %>
        <div class="order-box">
          <h1 class="order-id font-grey-light">#<%= order._id %></h1>
          <div class="order-box-row">
          <% order.products.forEach(p => { %>
            <p class="order-item font-grey-light"><%= p.product.name %></p>  
          <% }) %>
        </div>
        </div>
      <% })} %>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>

<%- include("../partials/end.ejs") %>