<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/products.css" />
<link rel="stylesheet" href="/css/orders.css">

<%- include("../includes/start.ejs") %>

    <%- include("../includes/header.ejs") %>

    <main class="itemsBox">
      <h1 class="itemsTitle">Orders</h1>
      <% if (orders.length <= 0) { %>
      <p class="emptyText">No orders made</p>
      <% } else { %>
      <div class="ordersBoxColumn">
      <% orders.forEach(order => { %>
        <h1 class="ordersId">#<%= order._id %></h1>
        <div class="ordersBoxRow">
        <% order.products.forEach(p => { %>
          <p class="ordersItem"><%= p.product.name %> (<%= p.quantity %>)</p>  
        <% }) %>
        </div>
      <% })} %>
      </div>
    </main>

<%- include("../includes/end.ejs") %>