<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>
  <link rel="stylesheet" href="/css/shop.css">
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <div class="list-box">
      <div class="category__box">
        <a href="/shop/category/disney+">
          <div class="category__item-box">
            <img src="images/categories/disney.webp" alt="disney">
          </div>
        </a>
        <a href="/shop/category/netflix">
        <div class="category__item-box">
          <img src="images/categories/netflix.webp" alt="netflix">
        </div>
        </a>
        <a href="/shop/category/hbomax">
          <div class="category__item-box">
            <img src="images/categories/hbo.webp" alt="hbo max">
          </div>
        </a>
        <a href="/shop/category/primevideo">
          <div class="category__item-box">
            <img src="images/categories/primevideo.webp" alt="prime video">
          </div>
        </a>
        <a href="/shop/category/paramount+">
          <div class="category__item-box">
            <img src="images/categories/paramount.webp" alt="paramount">
          </div>
        </a>
      </div>
      <% if(list) { %>
        <div class="list-grid">
          <% list.forEach(item => { %>
          <a class="list-item__link" href="/shop/<%= item._id %>">  
            <div class="list-item" onClick="this.parentNode.submit()">
                <div class="item-img-box">
                  <img class="item-img" src="<%= item.img %>"  alt="<%= item.title %>" />
                </div>
                <p class="view-detail-btn">View Details</p>
                <div class="item-info-box">
                  <h3 class="font-grey-light"><%= item.name %></h3>
                  <div class="item-info-box2">
                    <p class="item-info-text font-grey-light"><%= item.rating %></p>
                    <p class="item-info-text font-grey-light"><%= item.duration %></p>
                    <p class="item-info-text font-grey-light"><%= item.year %></p>
                  </div>
                  <div class="item-info-box2">
                    <p class="font-w600 font-grey-light">$ <%= item.price %></p>
                    <p class="item-info-text font-grey-light"><%= item.strService %></p>
                  </div>
                </div>
            </div>
          </a>
        <% })%>
        </div>
        <% } else {%>
        <h4 class="font-grey-light">No products found.</h4>
        <% } %>
<%- include("../partials/end.ejs") %>