<%- include('../partials/head.ejs', {pageTitle: pageTitle}) %>

  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <div class="listBox">
      <h1 class="listTitle whiteColor">Movies And Series</h1>
      <% if(list) { %>
      <div class="listGrid">
        <% list.forEach(item => { %>
        <form action="/cart" method="post">
          <input type="hidden" value="<%= item._id %>" name="productId">
          <div class="listItem" onClick="this.parentNode.submit()">
              <div class="itemDesImgBox">
                <img class="itemDesImg" src="<%= item.img %>"  alt="<%= item.title %>" />
              </div>
              <p class="addCartButton">Add to Cart</p>
              <div class="itemDesBox">
                <h3 class="whiteColor"><%= item.name %></h3>
                <div class="itemDesBox2">
                  <p class="itemDesText whiteColor"><%= item.rating %></p>
                  <p class="itemDesText whiteColor"><%= item.duration %></p>
                  <p class="itemDesText whiteColor"><%= item.year %></p>
                </div>
                <div class="itemDesBox2">
                  <p class="priceText whiteColor">$ <%= item.price %></p>
                  <p class="itemDesText whiteColor"><%= item.strService %></p>
                </div>
              </div>
          </div>
        </form>
        <% })%>
        </div>
      <% } else {%>
        <h4 class="whiteColor">No products found.</h4>
        <% } %>
<%- include("../partials/end.ejs") %>